---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlockQuote from "../components/BlockQuote.astro"
---
<BaseLayout>
  <div class="main-content__text">
    <h1>Cache-key variations on Netlify</h1>
    <p>Cache-key variations are a powerful new tool in your arsenal. All the content you'll see on this page is served under the root URL with the help of <strong>Netlify Edge functions</strong> and <strong>Cache-key variations</strong>!</p>
    <BlockQuote quote="MR_FRESH_QUOTE" updatedTime={new Date().toLocaleString()} />
  </div>
</BaseLayout>