---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlockQuote from "../components/BlockQuote.astro"
---
<html lang="en">
  <head>
    <title>Cache-key variations on Netlify</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <main class="main">
      <div class="main-content__text">
        <h1>Cache-key variations on Netlify</h1>
        <p>Cache-key variations are a powerful new tool in your arsenal. All the content you'll see on this page is served under the root URL with the help of <strong>Netlify Edge functions</strong> and <strong>Cache-key variations</strong>!</p>
      </div>
    </main>
  </body>
</html>