---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlockQuote from "../components/BlockQuote.astro"
const response = await fetch("https://meowfacts.herokuapp.com")
const json = await response.json()
console.log(json)
const fact = json.data[0]
---
<html lang="en">
  <head>
    <title>Cache-Control</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <main class="main">
      <div class="main-content__text">
        <h1>Cache-Control</h1>
        <BlockQuote quote={fact} updatedTime={new Date().toUTCString()} />
        <p>&#x1F63A; If you refresh this page after 60 seconds, you'll see a new trivia. This is possible thanks to setting the <code>cache-control</code> field in the header of the response to 60.</p>
      </div>
    </main>
  </body>
</html>