---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlockQuote from "../components/BlockQuote.astro"
---
<BaseLayout title="Mr Fresh Explores Caching">
  <div class="main-content__text">
    <h1>ETag</h1>
    <BlockQuote quote="MR_FRESH_MOTTO" updatedTime={new Date().toUTCString()} />
    <p>&#x1F63A; This page randomly displays either of two mottos by Mr Fresh. The next time you refresh the page, if the chosen  remains the same as the previous one, you'll get an 304 response. This is thanks to handling conditional requests using <code>ETag</code> and <code>If-None-Match</code> in Netlify Edge Nodes.
  </div>
</BaseLayout>