---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlockQuote from "../components/BlockQuote.astro"
---
<html lang="en">
  <head>
    <title>ETag demo</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <main class="main"></main>
      <div class="main-content__text">
        <h1>ETag Demo</h1>
        <BlockQuote quote="MR_FRESH_MOTTO" updatedTime={new Date().toUTCString()} />
        <p>&#x1F63A; This page randomly displays either of two mottos by Mr Fresh. The next time you <em>hard refresh</em> the page, if the chosen motto remains the same as the previous one, you'll get a 304 response. This is thanks to the handling of conditional requests using <code>ETag</code> and <code>If-None-Match</code> in Netlify Edge Nodes.
        <p>&#x1F6A9 If it's not a <em>hard refresh</em>, you will be served the same motto from Mr Fresh for a year!</p>
      </div>
    </main>
  </body>
</html>