---
import { Image } from "astro:assets"
import "../styles/global.css"
import mrFreshImage from "../images/mr._fresh.png"
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <head>
  </head>
  <body>
    <div class="wrapper">
      <h1>Silly Cat Society</h1>

      <p>Welcome! This is the place where you can chill with meow meow.</p>
      <Image src={mrFreshImage} alt="mr fresh the silly cat" />

      <p>How about we play a game?</p>

      <p>What is the age of the oldest known cat?</p>

      <div class="purge_buttons">
        <form action="/" method="get">
            <label for="guess">Guess:</label>
            <input type="number" id="guess" name="guess"><br><br>
            <input type="submit" value="Submit">
        </form>
      </div>

      <p>Try reloading this page a couple of times and see how the response eventually is served from cache directly!</p>
    </div>
  </body>
  <script>
//     const response = await fetch('https://catfact.ninja/fact', {
//   method: "GET",
//   headers: {
//     "accept": "application/json",
//     "X-CSRF-TOKEN": ""
//   }
// });
// console.log(response)
// const data = await response.json();
// console.log({ data })
  </script>
</html>
