---
import BaseLayout from "../layouts/BaseLayout.astro"
import { Image } from "astro:assets"
import Hero from "../components/Hero.astro"
import mrFreshImage from "../images/mr._fresh.png"
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->

<BaseLayout title="Mr Fresh Explores Caching">
  <div class="wrapper--max">
    <Hero imagePath={mrFreshImage} imageAlt="Mr Fresh side glare">
    <h1>Cache-Control, CDN-Cache-Control, ETag, stale-while-revalidate, oh my</h1>
    <p>Mr Fresh is dumbfounded by how opaque caching is. So he sets out to make a caching 101 demo for the uninitiated.</p>
    <div class="cta">
      <h3>Learn more about...</h3>
      <i class="line--down"></i>
      <div class="button-group">
        <div class="button-container"><a class="button" href="/cache-control">Cache-Control</a></div>
        <div class="button-container"><a class="button">Netlify-CDN-Cache-Control</a></div>
        <!-- <div class="button-container"><a class="button" href="/etag">ETag</a></div> -->
        <!-- <div class="button-container"><a class="button">SWR</a></div> -->
      </div>
    </div>
    </Hero>
  </div>
</BaseLayout>

<style>
  .wrapper--max {
    margin-left: auto;
    margin-right: auto;
    max-width: 1640px;
  }
  .cta {
    background-color: #F2EDE6;
    border-radius: 24px;
    max-width: 512px;
  }
  @media only screen and (min-width: 720px) {
    .cta {
      padding: 24px;
    }
  }
  /* .button-group div:not(:last-child) {
    color: aqua;
  } */
  .line--down {
    background-color: #F05943;
    display: block;
    height: 24px;
    width: 2px;
    margin: 16px auto;
  }
  .button-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .button-container {
    margin-bottom: 16px;
    margin-right: 16px;
  }
</style>