body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Pacaembu, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fefefe;
  margin: 2em auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
a {
text-decoration: none;
}
/* Responsive design to adjust typography */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.75em;
    }
}
p, ul, li {
    margin-bottom: 1em;
    color: #555;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

input[type=submit] {
  background-color: #2c3e50;
  border: none;
  border-radius: 4px;
  color: #fefefe;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 16px;
}
form {
    display: flex;
    justify-content: flex-start;
}
blockquote {
    font-size: clamp(2.5rem,.7857rem + 3.0612vw,4rem);
    line-height: 1;
    margin-left: 0;
}
blockquote::before {
    background-color: rgb(0 0 0/1);
    content: "";
    display: block;
    height: 1rem;
    width: 20%;
    margin: 0 0 1rem;
}
.main-content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 70px 70px;
}
@media screen and (min-width: 900px) and (max-width: 1440px) {
    .main-content {
        padding: 40px;
    }
}
@media screen and (max-width: 900px) {
    .main-content {
        padding: 30px;
    }
}
time {
    font-weight: bold;
}