---
const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/global.css">
    <title>{title}</title>
  </head>
  <body>
    <main class="main-content">
      <slot />
    </main>
  </body>
</html>